<br>

<div class="welcome-container">
  <h2>Bienvenido, {{ username }}!</h2>
  <div class="options-container">
    <div class="option">
      <h3>Separar Cita para la Peluquería</h3>
      <p>Una breve descripción de los servicios de peluquería.</p>
      <button (click)="navigateToPeluqueria()">Separar Cita</button>
    </div>
    <div class="option">
      <h3>Separar Cita Médica</h3>
      <p>Una breve descripción de los servicios médicos.</p>
      <button (click)="navigateToMedica()">Separar Cita</button>
    </div>
  </div>
</div>

