<header>
  <div class="navbar">
    <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/128/7925/7925212.png" alt="Logo de la Empresa" class="logo-image">
      <h1>VeterinariaConchita</h1>
    </div>
    <button class="menu-button" (click)="onToggleMenu()">☰</button>
  </div>
  <ul id="menu" class="menu">
    <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/tienda" routerLinkActive="active">Tienda</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
</header>

